@{
    ViewBag.Title = "Basic Ajax";
}
<h2>Basic Ajax</h2>
<p>
There is builtin support for loading data through from a web service. The simplest way to do this is to set the dataSource property
to the url of the web service to call for each level.
</p>
<table id="example1" style="width:100%"></table>
<script type="text/javascript">
    $(function () {
        $('#example1').nestedDataTables({
            dataSource: "@Url.Action("GetStates")",
            columns:
                [
                    { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true, paramName: "StateID" } },
                    { mDataProp: "StateName", sTitle: "State Name" },
                    { mDataProp: "Population", sTitle: "Population" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCounties")",
                    columns:
                        [
                            { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true, paramName: "StateID" } },
                            { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable:
                        {
                            dataSource: "@Url.Action("GetCities")",
                            columns:
                                [
                                    { mDataProp: "Name", sTitle: "City Name" },
                                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                                    { mDataProp: "Population", sTitle: "Population" },
                                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                                ],
                            nestedDataTable: null
                        }
                }
        });
    });
</script>
<h4>Code:</h4>
<pre>
$('#example1').nestedDataTables({
    dataSource: "@Url.Action("GetStates")",
    columns:
        [
            { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true, paramName: "StateID" } },
            { mDataProp: "StateName", sTitle: "State Name" },
            { mDataProp: "Population", sTitle: "Population" }
        ],
    nestedDataTable:
        {
            dataSource: "@Url.Action("GetCounties")",
            columns:
                [
                    { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true, paramName: "StateID" } },
                    { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                    { mDataProp: "Population", sTitle: "Population" },
                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCities")",
                    columns:
                        [
                            { mDataProp: "Name", sTitle: "City Name" },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable: null
                }
        }
});
</pre>
