@{
    ViewBag.Title = "ColumnDefinitions";
}
@Styles.Render("~/Scripts/DataTables-1.9.4/media/css/demo_table.css")
<h2>ColumnDefinitions</h2>
<p>
The plugin takes an options object that tells it what to display.
</p>
<p>
The <code>columns</code> property describes what columns to display. The syntax is the same as the the <a href="http://www.datatables.net/usage/columns">dataTables aoColumns option</a>.
</p>
<p>
There is one addition to the dataTables <code>aoColumns</code> syntax. In order to tell the plugin what data to load for the nestedDataTable, specify the <code>nestedDataTables</code>
property on the column definition. The <code>nestedDataTables</code> property is an object with two properties. 
</p>
<ul>
    <li>
        key: This boolean property indicates whether the value of this column should be passed to the query that is used to load the nested table. If this column is not a key column, it isn't
            necessary to set this property to <code>false</code>. Instead, its better to not specify the nestedDataTables property at all.
    </li>
    <li>
        paramName: If a column is a key, then its value is passed to the query using the mDataProp value as the query parameter name. If however, the query requires the parameter to have a
            different name then you can specify the paramName property. Take a look at the <code>County Name</code> column in the example below. The web service takes a parameter named
            <code>CountyName</code>, but the <code>mDataProp</code> value is &quot;Name&quot;. Setting the <code>paramName</code> property to &quot;CountyName&quot; will map the value onto that
            parameter in the web service.
    </li>
</ul>
<table id="example1" style="width:100%"></table>
<script type="text/javascript">
    $(function () {
        $('#example1').nestedDataTables({
            dataSource: "@Url.Action("GetStates")",
            columns:
                [
                    { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true } },
                    { mDataProp: "StateName", sTitle: "State Name" },
                    { mDataProp: "Population", sTitle: "Population" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCounties")",
                    columns:
                        [
                            { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true } },
                            { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable:
                        {
                            dataSource: "@Url.Action("GetCities")",
                            columns:
                                [
                                    { mDataProp: "Name", sTitle: "City Name" },
                                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                                    { mDataProp: "Population", sTitle: "Population" },
                                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                                ],
                            nestedDataTable: null
                        }
                }
        });
    });
</script>
<h4>Code:</h4>
<pre>
$('#example1').nestedDataTables({
    dataSource: "@Url.Action("GetStates")",
    columns:
        [
            { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true } },
            { mDataProp: "StateName", sTitle: "State Name" },
            { mDataProp: "Population", sTitle: "Population" }
        ],
    nestedDataTable:
        {
            dataSource: "@Url.Action("GetCounties")",
            columns:
                [
                    { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true } },
                    { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                    { mDataProp: "Population", sTitle: "Population" },
                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCities")",
                    columns:
                        [
                            { mDataProp: "Name", sTitle: "City Name" },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable: null
                }
        }
});
</pre>
