@{
    ViewBag.Title = "dataSource - Web Service Url";
}
@Styles.Render("~/Scripts/DataTables-1.9.4/media/css/demo_table.css")
<h2>dataSource - Web Service Url</h2>
<p>
In the example below the dataSource property on each level is the url of the web service from which to load data for that level. Using this
method calls the web service using the plugin's default ajax opitons.
</p>
<h3>Default Ajax Options</h3>
<p>
Web service calls are made using jQuery's ajax function with the following options.
</p>
<pre>
$.ajax({
    type: 'POST',
    data: ...,
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    success: ...
});
</pre>

<table id="example1" style="width:100%"></table>
<script type="text/javascript">
    $(function () {
        $('#example1').nestedDataTables({
            dataSource: "@Url.Action("GetStates")",
            columns:
                [
                    { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true } },
                    { mDataProp: "StateName", sTitle: "State Name" },
                    { mDataProp: "Population", sTitle: "Population" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCounties")",
                    columns:
                        [
                            { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true } },
                            { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable:
                        {
                            dataSource: "@Url.Action("GetCities")",
                            columns:
                                [
                                    { mDataProp: "Name", sTitle: "City Name" },
                                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                                    { mDataProp: "Population", sTitle: "Population" },
                                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                                ],
                            nestedDataTable: null
                        }
                }
        });
    });
</script>
<h4>Code:</h4>
<pre>
$('#example1').nestedDataTables({
    dataSource: "@Url.Action("GetStates")",
    columns:
        [
            { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true } },
            { mDataProp: "StateName", sTitle: "State Name" },
            { mDataProp: "Population", sTitle: "Population" }
        ],
    nestedDataTable:
        {
            dataSource: "@Url.Action("GetCounties")",
            columns:
                [
                    { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true } },
                    { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                    { mDataProp: "Population", sTitle: "Population" },
                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCities")",
                    columns:
                        [
                            { mDataProp: "Name", sTitle: "City Name" },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable: null
                }
        }
});
</pre>
