@{
    ViewBag.Title = "nestedDataTables";
}
@Styles.Render("~/Scripts/DataTables-1.9.4/media/css/demo_table.css")
<h2>Nested Data Tables</h2>

<h3>Description:</h3>
<p>
Create a series of nested dataTables.
</p>
<p>
This plugin wraps the dataTables plugin and makes it possible to open another dataTable 
based on the data in the parent row. This plugin adds a new column that contains a button
that when clicked will query for the child table data based on the parent row keys and 
use that data to create a child dataTable nested within the parent.
</p>

<h3>Depends on:</h3>
<ul>
    <li>jQuery v1.7.2 or higher or jQuery v1.8.2 or higher <a href="http://jquery.com">http://jquery.com</a></li>
    <li>DataTables v1.9.4 or higher <a href="http://www.datatables.net/">http://www.datatables.net</a></li>
    <li>jQueryUI v. 1.8.23 or higher (optional) <a href="http://jqueryui.com">http://jqueryui.com</a></li>
</ul>

<h3>Basic Usage:</h3>
<p>
Here is a simple example. You can find more in the Examples section.  You should take a look at
the jQueryUI examples.
</p>
<table id="example1" style="width:100%"></table>
<style>

</style>
<script type="text/javascript">
    $(function () {
        $('#example1').nestedDataTables({
            dataSource: "@Url.Action("GetStates")",
            columns:
                [
                    { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true, paramName: "StateID" } },
                    { mDataProp: "StateName", sTitle: "State Name" },
                    { mDataProp: "Population", sTitle: "Population" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCounties")",
                    columns:
                        [
                            { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true, paramName: "StateID" } },
                            { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable:
                        {
                            dataSource: "@Url.Action("GetCities")",
                            columns:
                                [
                                    { mDataProp: "Name", sTitle: "City Name" },
                                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                                    { mDataProp: "Population", sTitle: "Population" },
                                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                                ],
                            nestedDataTable: null
                        }
                }
        });
    });
</script>
<h4>Code:</h4>
<pre>
$('#example1').nestedDataTables({
    dataSource: "@Url.Action("GetStates")",
    columns:
        [
            { mDataProp: "StateID", sTitle: "State", nestedDataTables: { key: true, paramName: "StateID" } },
            { mDataProp: "StateName", sTitle: "State Name" },
            { mDataProp: "Population", sTitle: "Population" }
        ],
    nestedDataTable:
        {
            dataSource: "@Url.Action("GetCounties")",
            columns:
                [
                    { mDataProp: "StateID", bVisible: false, nestedDataTables: { key: true, paramName: "StateID" } },
                    { mDataProp: "Name", sTitle: "County Name", nestedDataTables: { key: true, paramName: "CountyName" } },
                    { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                    { mDataProp: "Population", sTitle: "Population" },
                    { mDataProp: "WebUrl", sTitle: "Web Page" }
                ],
            nestedDataTable:
                {
                    dataSource: "@Url.Action("GetCities")",
                    columns:
                        [
                            { mDataProp: "Name", sTitle: "City Name" },
                            { mDataProp: "AreaSqMi", sTitle: "Area Sq/Mi" },
                            { mDataProp: "Population", sTitle: "Population" },
                            { mDataProp: "WebUrl", sTitle: "Web Page" }
                        ],
                    nestedDataTable: null
                }
        }
});
</pre>